* Author: Julia Moran
* Major: Computer Science
* Creation Date: March 27, 2022
* Due Date: April 8, 2022
* Course: CSC223
* Professor Name: Prof. Earl
* Assignment: 4
* Filename: main.ipynb
* Purpose: This notebook reads in a csv file of data about how far a toy car has traveled and creates a new dataframe in which it is sorted by angle, the distance is in milimeters, there are individual columns for each car, and there is a column for the mean of each angle and a column for the standard deviation of each angle.

In [11]:
import csv
import numpy as np
import pandas as pd

In [12]:
#Read the CSV file
cars = pd.read_csv("toycars.csv")

In [13]:
#Set the angle of the ramp as the index
cars = cars.set_index("angle")

In [14]:
#Sort the cars by their index
cars= cars.sort_index()

In [15]:
#Convert the distance to millimeters
cars["distance"] = cars["distance"] * 1000

In [16]:
#Delete the extra column
del cars["Unnamed: 0"]

In [17]:
#Put the car data into a new dataframe where cars 1, 2, and 3 are the columns
car1 = pd.Series(cars[cars["car"] == 1]["distance"])
car2 = pd.Series(cars[cars["car"] == 2]["distance"])
car3 = pd.Series(cars[cars["car"] == 3]["distance"])

carsByColumn = pd.DataFrame({"Car 1": car1, "Car 2": car2, "Car 3": car3}, index = set(cars.index))

In [18]:
#Sort the new dataframe by the index
carsByColumn = carsByColumn.sort_index()

In [19]:
#Add a new column with the means of each angle's data
averages = carsByColumn[["Car 1", "Car 2", "Car 3"]].mean(axis = 1)
carsByColumn["Mean"] = averages

In [20]:
#Add a new column with the standard deviations of each angle's data
standardDeviation = carsByColumn[["Car 1", "Car 2", "Car 3"]].std(axis = 1)
carsByColumn["Standard Deviation"] = standardDeviation

#Output the modified dataframe
carsByColumn

      Car 1   Car 2  Car 3         Mean  Standard Deviation
0.9   270.0   380.0  150.0   266.666667          115.036226
1.1   290.0   430.0  170.0   296.666667          130.128142
1.3   430.0   370.0  270.0   356.666667           80.829038
2.2   580.0   700.0  540.0   606.666667           83.266640
2.7   580.0   640.0  550.0   590.000000           45.825757
3.1   630.0   690.0  600.0   640.000000           45.825757
3.6   700.0   890.0  660.0   750.000000          122.882057
4.0   840.0   920.0  690.0   816.666667          116.761866
4.9  1000.0  1300.0  950.0  1083.333333          189.296945